/* Global Styles */

html,
body {
  font-family: "montserratregular", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0%;
  padding: 0;
  background-color: #f8edeb;
  min-height: 100%;
  min-width: 100%;
}

@font-face {
  font-family: "montserratregular";
  src: url("montserrat-regular-webfont.woff2") format("woff2"),
    url("montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  color: #edafb8;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 0px 30px 5px 30px;
}

h2 {
  color: #edafb8;
  text-align: center;
  font-size: 25pt;
  padding: 0px 10px 0px 10px;
}

img {
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
  background-size: cover;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

/* Navigation Bar Styles */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edafb8;
}

nav > a > img {
  height: 80px;
  width: auto;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }
  nav {
    padding: 0px 40px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0px 20px;
  }
  nav ul li {
    padding: 20px;
  }
  nav ul {
    display: none;
    max-width: 60vw;
    width: 60vh;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    padding: 30px;
  }

  nav > ul > li > a:visited {
    color: #edafb8;
  }
  nav > ul > li > a:link {
    color: #edafb8;
    font-size: large;
  }
  #menu.active {
    display: inline-block;
    z-index: 2;
  }

  #hamburger {
    display: block;
    height: 30px;
    width: auto;
    z-index: 2;
  }
}

/* Header Styles */

.header > figure > img {
  width: 100%;
  height: auto;
  padding: 0;
  display: block;
  overflow: hidden;
  line-height: 0%;
}

/* Desktop Header Style */
@media (min-width: 768px) {
}

/* Section Styles */

/* Grid Styles */

/* this is only applied on desktop */
@media (min-width: 768px) {
  /*this is a grid with three columns*/
  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #hamburger {
    display: none;
  }
}

/* Card Styles */

main a {
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 10px;
  background-color: #edafb8;
}

main > section > a {
  font-size: 20px;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.card p {
  color: #edafb8;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  padding: 0px;
}

/* Footer Styles */

footer {
  background-color: #edafb8;
  padding: 20px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
}

footer p {
  color: white;
  font-size: 16px;
}

/* Inside Page Styles */

.inside p {
  text-align: left;
  color: black;
  font-style: normal;
  font-size: 20px;
  line-height: 20pt;
  padding: 5px 20px 5px 20px;
}

.inside figcaption {
  padding: 0px 20px 15px 20px;
  text-align: center;
  color: #edafb8;
  font-size: 16px;
  font-style: italic;
}

.inside ol {
  font-size: 20px;
  line-height: 20pt;
  padding: 0px 50px 20px 75px;
}

.inside img {
  padding: 20px;
  position: inline;
}

.video-container {
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  margin: 20px;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .wrap {
    float: left;
    width: 50%;
    height: auto;
    padding: 20px;
  }
}

/*FAQ Styles*/

.faq {
  padding: 15px;
}

button {
  background-color: #edafb8;
  border: none;
  width: 100%;
  padding: 20px;
  font-family: "montserratregular", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: left;
  font-size: 22px;
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}
