/* Global Styles */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: #f8edeb;
  min-height: 100%;
  min-width: 100%;
}

p {
  color: #edafb8;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  padding: 0px 30px 5px 30px;
}

h2 {
  color: #edafb8;
  text-align: center;
  font-size: 20pt;
}

img {
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
  background-size: cover;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

/* Navigation Bar Styles */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edafb8;
}

nav > a > img {
  height: 80px;
  width: auto;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }
  nav {
    padding: 0px 40px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0px 20px;
  }
  nav ul li {
    padding: 20px;
  }
  nav ul {
    display: none;
    max-width: 60vw;
    width: 60vh;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    padding: 30px;
  }

  nav > ul > li > a:visited {
    color: #edafb8;
  }
  nav > ul > li > a:link {
    color: #edafb8;
    font-size: large;
  }
  #menu.active {
    display: inline-block;
  }

  #hamburger {
    display: block;
    height: 30px;
    width: auto;
    z-index: 2;
  }
}

/* Header Styles */

header > figure > img {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* Section Styles */

/* Grid Styles */

/* this is only applied on desktop */
@media (min-width: 768px) {
  /*this is a grid with three columns*/
  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #hamburger {
    display: none;
  }
}

/* Card Styles */

main a {
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 10px;
  background-color: #edafb8;
}

main > section > a {
  font-size: 20px;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Footer Styles */

footer {
  background-color: #edafb8;
  padding: 20px;
  text-align: center;
}

footer p {
  color: white;
  font-size: 16px;
}
